[Unit]
Description=uWSGI server for the Notera API
After=syslog.target

[Service]
WorkingDirectory=/home/notera/api
ExecStartPre=/bin/mkdir -p /run/uwsgi
ExecStartPre=/bin/chown nginx:nginx /run/uwsgi
ExecStart=/home/notera/api/start-server.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
